<%if @client_responses.nil?%>
  <div id="questions">
    <%= render partial: "question_response/question_section", locals: {question: @first_question}%>
  </div>
  <div id="agreement_template" class="">

  </div>
<%else %>

    <%= render partial: "question_response/agreement_submition_form"%>

<%end%>
