

<select class ="form-control" id ="fooFighter">
	<% @user.each do |x| %>
		<option> <%= x.email  %> </option>
	<% end %>
</select>

<%= link_to 'Reset Password', '#', id: "resetPassword", :remote => true  %>
