<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
Hello,<br>
Appears you have two factor enabled! Way to be secure. Please use your One time password to log in, it is the six digit number in this email. Please note, it is time sensitive and will be deactivated after 30 seconds. If you have trouble, please refresh the login page and enter your email to generate a new, one time password. <br>
Thank you.<br>
    </p>
  </body>
</html>