<h1>Editing Registration Request</h1>

<%= render 'form', registration_request: @registration_request %>

<%= link_to 'Show', @registration_request %> |
<%= link_to 'Back', registration_requests_path %>
