<h1>New Registration Request</h1>
  <div style="color: red"><%= flash[:recaptcha_error] %></div>

  <div class="row">
    <div class="col-md-4 left_box">
      After you send the request registration the Admin will review it and send you an invitation.
    </div>

    <div class="col-md-4 right_box" >
      <%= render 'form', registration_request: @registration_request %>
    </div>
  </div>
<%#= link_to 'Back', registration_requests_path %>
