<h1>New Registration Request</h1>
  <div style="color: red"><%= flash[:recaptcha_error] %></div>

  <div class="row">
    <div class="col-md-4 left_box">
      Welcome to the Common Health Core application signup and customization wizard.<br>

      This site provides a simple but flexible method of connecting a new application to the Common Health Core (CHC).
      The CHC a cloud-based network of service providers sharing responsibility for patients/clients medical, dental,
      behavioral, social and community health needs.  CHC makes it possible to implement state of the art health models
      including Social Determinants of Health, population health management, community-based health and others that
      require close collaboration between HIPAA Covered Entities and non-covered services such as community housing,
      financial, nutrition, education, justice and more.  The CHC serves as a hub, connecting social and health service
      providers for referrals.  CHC is a platform for managing referral selection, initiation, tracking and completion
      and documentation.  Any provider easily can create their own application to access the CHC, or implement one of
      our reference applications.  We offer a reference application starter kit which is implemented using the popular
      Wordpress suite.<br>

      Each application is customized in this setup wizard by defining user roles and access rights, workflow stages and
      notifications, and referral directory.  All CHC capabilities are accessed by applications using an
      Application Programming Interface (API).   The wizard helps you use the CHC features without major changes to
      your existing processes.  Within this website there context specific documentation explaining the use and
      requirements for each setting.
    </div>

    <div class="col-md-4 right_box" >
      <%= render 'form', registration_request: @registration_request %>
    </div>
  </div>
<%#= link_to 'Back', registration_requests_path %>
