<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<p>
Dear <%= @userAdmin.name %>,<br> 
This email is to inform you that the following pending user has completed the join process.<br>
<b>User:</b><br>
<%=  @user.name %>
</p>

  </body>
</html>