<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<p>
Dear <%= @ca_user.last_name %>,<br>
This email is to inform you that the following task transfer has been accepted.<br>
<b>Request Description:</b><br>
<%= @task.task_description %><br>
</p>

  </body>
</html>