<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<p>
Dear <%= @ca.name %>,<br> 
We're sorry to inform you, but a task transfer was declined.<br>
<b>Request Description:</b><br>
<%= @task.task_description %><br>
</p>

  </body>
</html>