<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  Dear <%= @ca_user.name %>,<br>
  This email is to inform you that the following task transfer has been Reverted.<br>
  <b>Request Description:</b><br>
  <%= @task.task_description %><br>
</p>

</body>
</html>