<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel"><%= @result["OrganizationName_Text"]%>'s Details</h4>
</div>

<div class="modal-body">
  <% @result.each do |key, value|%>
      <strong><%= key%> :</strong> <%= value%> <br>
  <%end%>

</div>


