<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Steps to use the plug-in</h4>
</div>
<div class="modal-body">
  <!--<h3>Steps to use the plug-in </h3><br>-->

  Step 1: Click on the below link to download the plug-in <br>
  Step 2: Unzip the zip file downloaded. <br>
  Step 3: Open a FireFox browser and type "about:debugging" in the address bar. <br>
  Step 4: Click on "Load Temporary Add-on". <br>
  Step 5: Navigate to the plug-in folder and select manifest.json and click open. <br>
  <br>
  <br>
  <br>

  <%#= link_to "Plug-in Link", "https://drive.google.com/uc?id=1oYTrCH6JmNqaA3VjADNWmilWeQGczUJu&export=dowload"%>
  <%= link_to "Download Plug-in", download_plugin_path, :remote => true %>

</div>