<div class='nested-fields'>
  <div class="field row">
    <%= f.text_field :name, :placeholder => "Name" %>
    <%= f.text_field :email, :placeholder => "Email" %>
    <%= link_to_remove_association "remove user", f %>
  </div>

</div>