
<h3>Steps to use the plug-in </h3><br>

Step 1: Click on the below link to download the plug-in <br>
Step 2: Open a FireFox browser and type "about:debugging" in the address bar. <br>
Step 3: Click on "Load Temporary Add-on". <br>
Step 4: Navigate to the plug-in folder and select manifest.json and click open. <br>
<br>
<br>
<br>

<%= link_to "Plug-in Link", "https://drive.google.com/uc?id=1oYTrCH6JmNqaA3VjADNWmilWeQGczUJu&export=dowload"%>