<br>
<br>

<div id="cleanup_message">

</div>
Tag To Remove
<%= text_field_tag "tag_to_remove", nil %>

Tage to Replace With
<%= text_field_tag "tag_to_replace_with", nil %><br>

<button type="button" id="replace_tag"> Replace </button>



