<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats!</h1>
    <p>
Hello,<br>
Welcome to CommonHealthCore. Our administrative staff has approved an entry in the Common Health Core provider directory for your organization.<br>
The Common Health Core is a referral network that integrates community and social  services with medical and other health systems to improve the lives of clients.<br>
The new entry will help coordinators easily find your organization’s programs when looking for specific client services. <br> 
If you would like to learn more or have other questions you can reach us at {email address}<br>
Thank you.<br>
    </p>
  </body>
</html>