<%= form_with(model: baa_language_segment, local: true) do |form| %>
  <% if baa_language_segment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(baa_language_segment.errors.count, "error") %> prohibited this baa_language_segment from being saved:</h2>

      <ul>
      <% baa_language_segment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
