<h1>Security Keys</h1>
<table class="table table-responsive table-bordered user-display">
  <thead>
    <tr>
      <th>Key Name</th>
      <th>Values</th>
      <th>Actions</th>
    </tr>
  </thead> 
	  <tbody id="security_table"> 
	  		<%= render partial: "security_table", locals: {pii: @pii, phi: @phi, sad: @sad}%>
	  </tbody>
</table>
<br>
<div id ="add_key">
	<% if @user.admin == true %>
		<%= render partial: "add_key", locals: { patient: @patient, task: @task} %>
	<% end %>
</div>
