<% @notification_rules.each do |notification_rule| %>
    <tr>
      <td><%= notification_rule.appointment_status%></td>
      <td><%= notification_rule.time_difference%></td>
      <td><%#= link_to 'Show', notification_rule %></td>
      <td><%= link_to 'Edit', edit_notification_rule_path(notification_rule) %></td>
      <td><%#= link_to 'Destroy', notification_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
