<%= form_with(model: scraping_rule, local: true) do |form| %>
  <% if scraping_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scraping_rule.errors.count, "error") %> prohibited this scraping_rule from being saved:</h2>

      <ul>
      <% scraping_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
