// Place all the styles related to the after_signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wizard_next_button ,.wizard_default_button{
  //color: #bbbbbb;
  margin-bottom: 50px;
  color: white !important;
  //align-items: center;
  width: 200px;
  height: 40px;
}

#my_centered_buttons, #default_centered_button { display: flex; justify-content: center; }