// Place all the styles related to the security_keys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.labelSpace{
	padding-left: 1em;
	padding-right: 0.5em;
}

.all_ability_list{

  height: 300px;
  //border: 1px solid #98DFE9;
  margin: 0 auto;
  background-color:#98DFE9;
  overflow: auto;
}


.key_checkbox{
	width: 30%;
	height: 25px;
	display: inline-flex;
}


