// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lstm{
	border: 1px solid black;
	width: 90%;
	height: 25px;
	display: inline-block;
}