<p id="notice"><%= notice %></p>

<p>
  <strong>Date of appointment:</strong>
  <%= @appointment.date_of_appointment %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
