<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @email %></h1>
<p>
  Please sign the correct agreement to receive the patient data.

</p>
</body>
</html>