<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= ENV["BACKEND_USER_EMAIL"] %></h1>
<p>
   Please prepare the registration request for <%= @name %>

  Thanks<br>

  CommonHealthCore<br>
  TollFree Number {}
</p>
</body>
</html>