<nav class="navbar navbar-default navbar-static-top">
  <div class="row">
    <%= link_to 'Home', root_path%>
    <%= button_to 'Logout', destroy_user_session_path, :method => :delete%>
  </div>



</nav>