<!--<nav class="navbar navbar-default navbar-static-top">-->
  <!--<div class="row">-->
    <!--<%#= link_to 'Home', root_path%>-->
    <!--<%#= button_to 'Logout', destroy_user_session_path, :method => :delete%>-->
  <!--</div>-->
  <!--<%#= button_to "Sign Up Request" ,"#"%>-->


<!--</nav>-->

<nav class="navbar navbar-default" style="background-color: #27aacc;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href= "/users/sign_in" >CommonHealthCore</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="top_bar_elements"><%= link_to 'Home', root_path if current_user.present?%></li>
      <li class="top_bar_elements"><%= link_to 'Logout', destroy_user_session_path, :method => :delete if current_user.present?%></li>
      <li class="top_bar_elements"><%= link_to "Sign up Request", new_registration_request_path if !current_user.present?%></li>
    </ul>
  </div>
</nav>